SUPABASE_URL=https://ucpfizlruoejxthnuqsz.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjcGZpemxydW9lanh0aG51cXN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxMjIyODUsImV4cCI6MjA5NTY5ODI4NX0.6eEtgeTcJHOg6I9aFgq73TFOLt1fNI6QHP6cDisHkmE
